In [ ]:
# Creado tres variables

In [1]:
numero1= 8
numero2= 10
numero3= 7

In [2]:
numero1>numero2

False

numero1<numero2 and (numero1 > numero3)

In [7]:
numero3 == numero2

False

In [8]:
numero2!=numero1

True

In [10]:
altura1= 5.5
altura2= 10.1

In [11]:
altura1+altura2

15.6

In [12]:
altura1-altura2

-4.6

In [13]:
altura1%altura2

5.5

In [14]:
altura1/altura2

0.5445544554455446

In [16]:
round(altura1/altura2,1)

0.5

In [17]:
nombre= input ("¿Cuál es tu nombre")
apellidos= input ("¿Cuáles son tus apellidos?")

In [22]:
print (nombre. upper(), apellidos.upper())

ANA TRUJILLO COSTA

In [24]:
print (nombre. lower(), apellidos.lower())

ana trujillo costa

In [25]:
print (nombre, apellidos)

Ana Trujillo Costa

In [26]:
print (nombre.capitalize(), apellidos.lower())

Ana trujillo costa

In [27]:
frase= input("Dime una frase")

In [28]:
print (frase)

Hola familia

In [29]:
vocal= input("Dime una vocal")
print (vocal)

a

In [30]:
print(frase.replace("a", "A"))

HolA fAmiliA

In [31]:
compra = input ("Dime la lista de la compra")

In [33]:
print(",".join(compra))

 ,c,a,r,n,e, ,p,e,s,c,a,d,o, ,l,e,c,h,e, ,c,o,l

In [3]:
compra= input("Dime la lista de la compra")
compra_separada= compra.split(", ")
print (compra_separada)
print(type(compra_separada))

['peras', 'manzanas', 'naranjas']
<class 'list'>

In [4]:
string_compra_separada= "\n". join(compra_separada)
print(string_compra_separada)

peras
manzanas
naranjas