## Ejerccios lección 4

In [165]:
# Cuatro keys que serán: nombres , apellidos, edades, hijos. 
# Cada una de las keys tendrá un value que será una lista que iremos construyendo con inputs. 
n1 = input("Escribe tres nombres, separados por espacios")
a1 = input("Escribe los tres apellidos separados por espacios")
e1 = input("Escribe las tres edades separadas por espacios")
h1 = input("Escribe el número de hijos/as separados por espacios")

In [198]:
n1

'Ana Jose Carlos'

In [199]:
n1list = n1.split()
n1list

['Ana', 'Jose', 'Carlos']

In [200]:
a1list = a1.split()
a1list

['Luna', 'Mora', 'Perez']

In [201]:
e1list = e1.split()
e1list

['20', '15', '30']

In [202]:
h1list = h1.split()
h1list

['5', '2', '0']

In [203]:
diccionario = {"nombres" : [n1list] , "apellidos" : [a1list] , "edades" : [e1list] , "hijos" : [h1list] }

In [204]:
print (diccionario)

{'nombres': [['Ana', 'Jose', 'Carlos']], 'apellidos': [['Luna', 'Mora', 'Perez']], 'edades': [['20', '15', '30']], 'hijos': [['5', '2', '0']]}

In [205]:
# Una vez tengáis creado el diccionario, añadid una nueva key donde tengamos la información sobre el número de hermanos. 
hermanos1 = input ("Escribe el número de hermanos separados por espacios")
hermanos1

'1 2 0'

In [206]:
hermanos1_list = hermanos1.split()
print (hermanos1_list)

['1', '2', '0']

In [207]:
diccionario.update({"numero_de_hermanos": hermanos1_list})

In [208]:
diccionario

{'nombres': [['Ana', 'Jose', 'Carlos']],
 'apellidos': [['Luna', 'Mora', 'Perez']],
 'edades': [['20', '15', '30']],
 'hijos': [['5', '2', '0']],
 'numero_de_hermanos': ['1', '2', '0']}

In [209]:
#¿Cúales son las keys de nuestro diccionario? ¿Y los values?
diccionario.keys()

dict_keys(['nombres', 'apellidos', 'edades', 'hijos', 'numero_de_hermanos'])

In [210]:
diccionario.values()

dict_values([[['Ana', 'Jose', 'Carlos']], [['Luna', 'Mora', 'Perez']], [['20', '15', '30']], [['5', '2', '0']], ['1', '2', '0']])

In [211]:
# Para extraer los values de una key podemos hacerlo de varias formas.
# Extraed los valores de la key nombres. Utilizad dos métodos diferentes.
    #   1. get
diccionario.get("nombres")

[['Ana', 'Jose', 'Carlos']]

In [212]:
    #   2. Keys
diccionario ["nombres"]

[['Ana', 'Jose', 'Carlos']]

In [213]:
# Extraed los valores de la key nacionalidad. En caso de que no exista, cread esa key con el value "desconocida".
diccionario.setdefault("nacionalidad", 'Desconocida')

'Desconocida'

In [214]:
# Ordena los elementos del diccionario basandonos en las keys y los values. Esto nos devuelve una lista de tuplas.
sorted(diccionario.items())

[('apellidos', [['Luna', 'Mora', 'Perez']]),
 ('edades', [['20', '15', '30']]),
 ('hijos', [['5', '2', '0']]),
 ('nacionalidad', 'Desconocida'),
 ('nombres', [['Ana', 'Jose', 'Carlos']]),
 ('numero_de_hermanos', ['1', '2', '0'])]

In [215]:
#  Convertid esta lista de tuplas en diccionario.
diccionario2 = dict(sorted(diccionario.items()))

In [216]:
print (diccionario2)

{'apellidos': [['Luna', 'Mora', 'Perez']], 'edades': [['20', '15', '30']], 'hijos': [['5', '2', '0']], 'nacionalidad': 'Desconocida', 'nombres': [['Ana', 'Jose', 'Carlos']], 'numero_de_hermanos': ['1', '2', '0']}

In [217]:
#Eliminad la key de "nacionalidad"
diccionario.pop("nacionalidad")

'Desconocida'

In [218]:
diccionario

{'nombres': [['Ana', 'Jose', 'Carlos']],
 'apellidos': [['Luna', 'Mora', 'Perez']],
 'edades': [['20', '15', '30']],
 'hijos': [['5', '2', '0']],
 'numero_de_hermanos': ['1', '2', '0']}

In [219]:
#Utilizando métodos de Python. ¿Qué persona tiene mayor nuúmero de hijos? ¿Y quién es la más joven?
diccionario["hijos"]

[['5', '2', '0']]

In [220]:
#¿Qué persona tiene mayor nuúmero de hijos?
maxhijos = max(h1list)
maxhijos

'5'

In [221]:
h1list.index(max(h1list))

0

In [222]:
n1list[h1list.index(max(h1list))]

'Ana'

In [223]:
print (n1list[h1list.index(max(h1list))] , "es quien tiene el mayor número de hijos/as, Tiene", maxhijos, "hijos/as." )

Ana es quien tiene el mayor número de hijos/as, Tiene 5 hijos/as.

In [224]:
# ¿Y quién es la más joven?
diccionario["edades"]

[['20', '15', '30']]

In [225]:
minedad = min(e1list)
minedad

'15'

In [226]:
e1list.index(minedad)

1

In [227]:
e1list[0]

'20'

In [228]:
n1list[e1list.index(minedad)]

'Jose'

In [229]:
print (n1list[e1list.index(minedad)], "es el/la menor, con", minedad, "años." )

Jose es el/la menor, con 15 años.