## Ejerccios lección 4 - Diccionarios

EJERCICIO 1

Cuatro keys que serán: nombres , apellidos, edades, hijos. 

Cada una de las keys tendrá un value que será una lista que iremos construyendo con inputs.

- Cread un input que pregunte a la usuaria por tres nombres. Almacenad el resultado en una lista. Esta lista será el value de la key nombres
- Cread un input que pregunte a la usuaria por tres apellidos. Convertir el resultado en lista y este será el value de la key apellidos.
- Cread un input que pregunte a la usuaria por tres edades. Almancenad los resultados en una lista. Esta lista será el value de la key edades.
- Cread un input que pregunte a la usuaria por el número de hijos. Almacenad este resultado en una lista. Esta lista será el value de la key hijos.

In [2]:
 
n1 = input("Escribe tres nombres, separados por espacios")
a1 = input("Escribe los tres apellidos separados por espacios")
e1 = input("Escribe las tres edades separadas por espacios")
h1 = input("Escribe el número de hijos/as separados por espacios")

In [3]:
n1

'Ana Jose Mario'

In [4]:
n1list = n1.split()
n1list

['Ana', 'Jose', 'Mario']

In [5]:
a1list = a1.split()
a1list

['Ruales', 'Flores', 'Morales']

In [6]:
e1list = e1.split()
e1list

['30', '15', '20']

In [7]:
h1list = h1.split()
h1list

['2', '5', '0']

EJERCICIO 2

Cread un diccionario con los resultados del input. Al final de todos estos pasos deberíamos tener un diccionario similar a este:

{'nombres': ['Lara', ' Alejandro', ' Ana'],
  'apellidos': ['Lopez', ' Martin', ' Solo'],
  'edades': [34, 20, 28],
  'hijos': [2, 0, 1]}

In [8]:
diccionario = {"nombres" : [n1list] , 
            "apellidos" : [a1list] , 
            "edades" : [e1list] , 
            "hijos" : [h1list] }

In [9]:
print (diccionario)

{'nombres': [['Ana', 'Jose', 'Mario']], 'apellidos': [['Ruales', 'Flores', 'Morales']], 'edades': [['30', '15', '20']], 'hijos': [['2', '5', '0']]}

EJERCICIO 3

Una vez tengáis creado el diccionario, añadid una nueva key donde tengamos la información sobre el número de hermanos.

In [10]:
hermanos1 = input ("Escribe el número de hermanos separados por espacios")
hermanos1

'2 1 0'

In [11]:
hermanos1_list = hermanos1.split()
print (hermanos1_list)

['2', '1', '0']

In [12]:
diccionario.update({"numero_de_hermanos": hermanos1_list})

In [13]:
diccionario

{'nombres': [['Ana', 'Jose', 'Mario']],
 'apellidos': [['Ruales', 'Flores', 'Morales']],
 'edades': [['30', '15', '20']],
 'hijos': [['2', '5', '0']],
 'numero_de_hermanos': ['2', '1', '0']}

3.1 ¿Cúales son las keys de nuestro diccionario? ¿Y los values?

In [35]:
diccionario.keys()

dict_keys(['nombres', 'apellidos', 'edades', 'hijos', 'numero_de_hermanos'])

In [39]:
diccionario.values()

dict_values([[['Ana', 'Jose', 'Mario']], [['Ruales', 'Flores', 'Morales']], [['30', '15', '20']], [['2', '5', '0']], ['2', '1', '0']])

EJERCICIO 4

Para extraer los values de una key podemos hacerlo de varias formas.
Extraed los valores de la key nombres. Utilizad dos métodos diferentes.

In [36]:
#   1. get / setdefault
diccionario.get("nombres")

[['Ana', 'Jose', 'Mario']]

In [37]:
#   2. Keys
diccionario ["nombres"]

[['Ana', 'Jose', 'Mario']]

EJERCICIO 5

Extraed los valores de la key nacionalidad. En caso de que no exista, cread esa key con el value "desconocida".

In [41]:
diccionario.setdefault("nacionalidad", 'Desconocida')

'Desconocida'

EJERCICIO 6

Ordena los elementos del diccionario basandonos en las keys y los values. Esto nos devuelve una lista de tuplas.

In [19]:
sorted(diccionario.items())

[('apellidos', [['Ruales', 'Flores', 'Morales']]),
 ('edades', [['30', '15', '20']]),
 ('hijos', [['2', '5', '0']]),
 ('nacionalidad', 'Desconocida'),
 ('nombres', [['Ana', 'Jose', 'Mario']]),
 ('numero_de_hermanos', ['2', '1', '0'])]

EJERCICIO 7

Convertid esta lista de tuplas en diccionario.

In [42]:
diccionario2 = dict(sorted(diccionario.items()))

In [43]:
print (diccionario2)

{'apellidos': [['Ruales', 'Flores', 'Morales']], 'edades': [['30', '15', '20']], 'hijos': [['2', '5', '0']], 'nacionalidad': 'Desconocida', 'nombres': [['Ana', 'Jose', 'Mario']], 'numero_de_hermanos': ['2', '1', '0']}

EJERCICIO 8

Eliminad la key de "nacionalidad"

In [44]:
diccionario.pop("nacionalidad")

'Desconocida'

In [45]:
diccionario

{'nombres': [['Ana', 'Jose', 'Mario']],
 'apellidos': [['Ruales', 'Flores', 'Morales']],
 'edades': [['30', '15', '20']],
 'hijos': [['2', '5', '0']],
 'numero_de_hermanos': ['2', '1', '0']}

EJERCICIO 9

Utilizando métodos de Python. 
¿Qué persona tiene mayor número de hijos? ¿Y quién es la más joven?

9.1 ¿Qué persona tiene mayor número de hijos?

In [46]:
diccionario["hijos"]

[['2', '5', '0']]

In [47]:
#¿Qué persona tiene mayor número de hijos?
maxhijos = max(h1list)
maxhijos

'5'

In [26]:
h1list.index(max(h1list))

1

In [27]:
n1list[h1list.index(max(h1list))]

'Jose'

In [28]:
print (n1list[h1list.index(max(h1list))] , "es quien tiene el mayor número de hijos/as, Tiene", maxhijos, "hijos/as." )

Jose es quien tiene el mayor número de hijos/as, Tiene 5 hijos/as.

9.2 ¿Y quién es la más joven?

In [48]:
diccionario["edades"]

[['30', '15', '20']]

In [30]:
minedad = min(e1list)
minedad

'15'

In [31]:
e1list.index(minedad)

1

In [32]:
e1list[0]

'30'

In [33]:
n1list[e1list.index(minedad)]

'Jose'

In [34]:
print (n1list[e1list.index(minedad)], "es el/la menor, con", minedad, "años." )

Jose es el/la menor, con 15 años.