In [2]:
#Crea una lista con numeros aleatorios entre el 0 y el 100

In [3]:
import random
lista = random.sample(range(1,100), 10)
print(lista)

[64, 76, 42, 7, 74, 46, 32, 49, 40, 51]

In [4]:
#¿Cuál es la longitud de la lista? Utilizad métodos de Python para extraer este resultado.

lista[len(lista) -1]

51

In [5]:
#Extraed el número que está en la tercera posición.
#Recordad que los índices en Python empiezan en 0 y que no corresponden con las "posiciones humanas"

print(lista[2])

42

In [6]:
#Extraed el número que esta en la tercera posición utilizando los índices negativos.

lista[-8]

42

In [7]:
#Preguntad al usuario por un número de la lista que hemos creado en el primer paso, recordad que para eso tendréis que usar la función input. 
#¿En que posición esta el número que ha eligido la usuaria?

input("¿En qué posición está el número que ha elegido la usuaria?")
print(lista.index(15))

ValueError: 15 is not in list

In [8]:
#Extraed los valores que estén entre la tercera posición y la quinta (ambos inclusive). 
# Esto nos tendrá que devolver una lista de 3 elementos.

lista[2:6]

[42, 7, 74, 46]

In [9]:
#Extraed los valores que estén entre las posiciones 6 y 9 utilizando índices negativos. 
#Os debe devolver una lista con 4 números.

lista[-5:-2]

[46, 32, 49]

In [10]:
#¿Cuáles son los numéros que están en las posiciones pares nuestra lista?

lista[1::2]

[76, 7, 46, 49, 51]

In [11]:
#¿Y los que están en posiciones impares?

lista[0::2]

[64, 42, 74, 32, 40]

In [12]:
print(lista)

[64, 76, 42, 7, 74, 46, 32, 49, 40, 51]

In [13]:
#¿Qué nota ha sacado Lupe? Para este ejercicio os pedimos que uséis primero el método index() de listas y luego lo índices con [] de las listas. Para esto tendréis que sacar primero en que posición 
#esta Lupe en la lista nombres y usar el resultado de este paso para acceder ,usando los índices de Python, a la nota de Lupe.

nombres=['Laura', 'Lorena', 'Lupe', 'Loreto', 'Lucia']
notas=[9, 8.5, 9.8, 8.9, 9.2]

nombres.index("Lupe")
notas[2]

9.8

In [14]:
#De la misma forma, ¿qué alumna a sacado la nota más alta? 
#Tendréis que poner en práctica, métodos aprendidos hoy y en la lección de listas de ayer.

maxnota= max(notas)
print(maxnota)

9.8

In [15]:
notas.index(9.8)
nombres[2]

'Lupe'

In [16]:
#¿Qué alumna a sacado la nota más baja? ¿Es esta nota mayor que 5?
minnota=min(notas)
minnota

8.5

In [17]:
notas.index(8.5)
nombres[1]

'Lorena'

In [18]:
minnota > 5

True

In [19]:
notas

[9, 8.5, 9.8, 8.9, 9.2]

In [20]:
#Ordenad la lista de notas de mayor a menor y almacenalo en una nueva variable llamada notas_nuevo_orden

In [21]:
notas_nuevo_orden = sorted(notas, reverse= True)
print (notas_nuevo_orden)

[9.8, 9.2, 9, 8.9, 8.5]

In [22]:
#Ordenad las notas de las alumnas de mayor a menor. Usa el método que sobreescriba la variable notas.

In [23]:
notas.sort(reverse=True)
notas

[9.8, 9.2, 9, 8.9, 8.5]

In [24]:
#Ordenad la lista de nombres de mayor a menor. ¿Qué es lo que ha pasado?

In [25]:
nombres

['Laura', 'Lorena', 'Lupe', 'Loreto', 'Lucia']

In [26]:
nombres.sort(reverse=True)
nombres

['Lupe', 'Lucia', 'Loreto', 'Lorena', 'Laura']

In [27]:
#Borrad la lista de notas.

In [28]:
del notas

Dadas las siguientes listas:

In [29]:
lunes = [34,56,82]
lunes

[34, 56, 82]

In [30]:
martes = [99,64,24]
martes

[99, 64, 24]

In [31]:
mierocles = [12,59,71]
mierocles

[12, 59, 71]

In [32]:
# Unid las tres listas de forma que tengamos el siguiente output
lunes.append(mierocles)
print (lunes)

[34, 56, 82, [12, 59, 71]]

In [33]:
lunes = [34,56,82]
lunes

[34, 56, 82]

In [34]:
# Definid de nuevo la tres listas. Ahora unid las tres listas de tal forma que obtengamos el siguiente output:

lunes+martes+mierocles

[34, 56, 82, 99, 64, 24, 12, 59, 71]

In [38]:
# Definid de nuevo las tres listas. Insertad los siguientes valores:
# En la lista lunes un 100 en la primera posición
lunes.insert(0,100)
lunes

[100, 100, 34, 56, 82]

In [40]:
# En la lista martes un 100 en la tercera posición
martes.insert(2,100)
martes

[99, 64, 100, 24]

In [39]:
# En la lista miercoles un 100 en la última posición
mierocles.insert(-1,100)
mierocles

[12, 59, 100, 71]