# Ejercicios Lección 3 - Listas 2

EJERCICIO 1 

Crea una lista con numeros aleatorios entre el 0 y el 100

In [2]:
import random
lista = random.sample(range(1,100), 10)
print(lista)

[66, 17, 5, 39, 98, 45, 75, 15, 59, 73]

EJERCICIO 2

Con la lista creada en el ejercicio anterior:

2.1 ¿Cuál es la longitud de la lista? Utilizad métodos de Python para extraer este resultado.

In [4]:
#¿Cuál es la longitud de la lista? Utilizad métodos de Python para extraer este resultado.
len(lista)

10

2.2 Extraed el número que está en la tercera posición.Recordad que los índices en Python empiezan en 0 y que no corresponden con las "posiciones humanas"

In [5]:
print(lista[2])

5

2.3 Extraed el número que esta en la tercera posición utilizando los índices negativos.

In [6]:
lista[-8]

5

2.4 Preguntad al usuario por un número de la lista que hemos creado en el primer paso, recordad que para eso tendréis que usar la función input. 
¿En que posición esta el número que ha eligido la usuaria?

In [10]:
numero = int (input("¿En qué posición está el número que ha elegido la usuaria?"))
print(lista.index(numero))

5

2.5 Extraed los valores que estén entre la tercera posición y la quinta (ambos inclusive). 
Esto nos tendrá que devolver una lista de 3 elementos.

In [13]:
lista

[66, 17, 5, 39, 98, 45, 75, 15, 59, 73]

In [14]:
lista[2:5]

[5, 39, 98]

2.6 Extraed los valores que estén entre las posiciones 6 y 9 utilizando índices negativos. 
#Os debe devolver una lista con 4 números.

In [22]:
lista[-5:-1]

[45, 75, 15, 59]

2.7 ¿Cuáles son los numéros que están en las posiciones pares nuestra lista?

In [23]:
lista

[66, 17, 5, 39, 98, 45, 75, 15, 59, 73]

In [24]:
lista[1::2]

[17, 39, 45, 15, 73]

2.8 ¿Y los que están en posiciones impares?

In [25]:
lista[0::2]

[66, 5, 98, 75, 59]

EJERCICIO 3

Dadas las siguientes listas :

- nombres = ["Laura", "Lorena", "Lupe", "Loreto", "Lucía"]

- notas = [9, 8.5, 9.8, 8.9, 9.2]

3.1 ¿Qué nota ha sacado Lupe? Para este ejercicio os pedimos que uséis primero el método index() de listas y luego lo índices con [] de las listas. Para esto tendréis que sacar primero en que posición 
#esta Lupe en la lista nombres y usar el resultado de este paso para acceder ,usando los índices de Python, a la nota de Lupe.

In [29]:
nombres=['Laura', 'Lorena', 'Lupe', 'Loreto', 'Lucia']
notas=[9, 8.5, 9.8, 8.9, 9.2]

nombres.index("Lupe")

2

In [28]:
notas[2]

9.8

3.2 De la misma forma, ¿qué alumna ha sacado la nota más alta? 
Tendréis que poner en práctica, métodos aprendidos hoy y en la lección de listas de ayer.

In [30]:
maxnota= max(notas)
print(maxnota)

9.8

In [33]:
notas.index(9.8)

2

In [34]:
nombres[2]

'Lupe'

3.3 ¿Qué alumna ha sacado la nota más baja? ¿Es esta nota mayor que 5?

In [35]:
minnota=min(notas)
minnota

8.5

In [36]:
notas.index(8.5)
nombres[1]

'Lorena'

In [37]:
minnota > 5

True

In [38]:
notas

[9, 8.5, 9.8, 8.9, 9.2]

3.4 Ordenad la lista de notas de mayor a menor y almacenalo en una nueva variable llamada notas_nuevo_orden

In [40]:
notas_nuevo_orden = sorted(notas, reverse= True)
print (notas_nuevo_orden)

# también se podría usar el método sort

[9.8, 9.2, 9, 8.9, 8.5]

3.5 Ordenad las notas de las alumnas de mayor a menor. Usa el método que sobreescriba la variable notas.

In [41]:
notas.sort(reverse=True)
notas

[9.8, 9.2, 9, 8.9, 8.5]

3.6 Ordenad la lista de nombres de mayor a menor. ¿Qué es lo que ha pasado?

In [25]:
nombres

['Laura', 'Lorena', 'Lupe', 'Loreto', 'Lucia']

In [42]:
nombres.sort(reverse=True)
nombres

# Los nombres se han ordenado desde la última letra del alfabeto

['Lupe', 'Lucia', 'Loreto', 'Lorena', 'Laura']

3.7 Borrad la lista de notas.

In [43]:
del notas

In [87]:
# Si ejecutamos la variable notas produce un error indicando que no está definida, 
# comprobando que se ha eliminado

EJERCICIO 4

Dadas las siguientes listas:

- lunes = [34,56,82]
- martes = [99, 64, 24]
- miercoles = [12, 59, 71]

In [76]:
lunes = [34,56,82]
lunes

[34, 56, 82]

In [77]:
martes = [99,64,24]
martes

[99, 64, 24]

In [78]:
mierocles = [12,59,71]
mierocles

[12, 59, 71]

4.1 Unid las tres listas de forma que tengamos el siguiente output:

[34, 56, 82, [99, 64, 24], [12, 59, 71]]

In [79]:
lunes,martes,mierocles

([34, 56, 82], [99, 64, 24], [12, 59, 71])

4.2 Definid de nuevo la tres listas. Ahora unid las tres listas de tal forma que obtengamos el siguiente output:

[34, 56, 82, 99, 64, 24, 12, 59, 71]

In [80]:
lunes+martes+mierocles

[34, 56, 82, 99, 64, 24, 12, 59, 71]

EJERCICIO 5 

Definid de nuevo las tres listas. Insertad los siguientes valores:

5.1 En la lista lunes un 100 en la primera posición

In [81]:
lunes.insert(0,100)
lunes

[100, 34, 56, 82]

5.2 En la lista martes un 100 en la tercera posición

In [82]:
martes.insert(2,100)
martes

[99, 64, 100, 24]

5.3 En la lista miércoles un 100 en la última posición

In [83]:
print (len(mierocles))

3

In [84]:
mierocles.insert(4,100)
mierocles

[12, 59, 71, 100]

In [86]:
# mierocles.insert(-1,100)
# No funciona con -1, lo coloca en la posicion -2