## Pair programming variables
En la lecci√≥n hemos hecho una primera aproximaci√≥n a Python,hemos aprendido que tipos de datos tenemos, como podemos almacenar informaci√≥n en variables y como realizar ciertas operaciones con ellas.
Adem√°s hemos aprendido que las variales de tipo string o de texto tienen muchos m√©todos propios que nos permiten modificarlos.
Los objetivos del pair programming de hoy son:

In [ ]:
# Creado tres variables

In [1]:
numero1= 8
numero2= 10
numero3= 7

Utilizando los operadores l√≥gicos:
En vuestro caso, es el numero1 mayor que el numero2
Es el numero1 menor que el numero2 pero mayor que el numero3
Es el numero3 igual que el numero2
Es el numero2 distinto que el numero1

In [2]:
numero1>numero2

False

In [7]:
numero3 == numero2

False

In [8]:
numero2!=numero1

True

Cread dos variables num√©ricas de tipo float (decimal) con dos decimales, llamdas de la siguiente forma:
    altura1
    altura2

In [10]:
altura1= 5.5
altura2= 10.1

Utilizando los operadores matem√°ticos aprendidos en la lecci√≥n:
- Cu√°l es la suma de las dos alturas
- Cu√°l es la diferencia entre las alturas
- Cu√°l es el resto de la divisi√≥n de las dos alturas
- Cu√°l es resultado de la divisi√≥n de las dos alturas, redondead el resultado a un decimal.

In [11]:
altura1+altura2

15.6

In [12]:
altura1-altura2

-4.6

In [13]:
altura1%altura2

5.5

In [14]:
altura1/altura2

0.5445544554455446

In [16]:
round(altura1/altura2,1)

0.5

Escribid un programa usando la funci√≥n input() que le pregunte al usuario su nombre y apellidos. Una vez que tengamos el nombre del usuario:
- Printead su nombre y apellidos todo en may√∫sculas
- Printead su nombre y apellidos todo en min√∫sculas
- Printead su nombre y apellidos con la primera letra del nombre y los apellidos en may√∫scula y el resto en min√∫scula.
- Printeas solo la primera letra del nombre en may√∫scula.

In [17]:
nombre= input ("¬øCu√°l es tu nombre")
apellidos= input ("¬øCu√°les son tus apellidos?")

In [22]:
print (nombre. upper(), apellidos.upper())

ANA TRUJILLO COSTA

In [24]:
print (nombre. lower(), apellidos.lower())

ana trujillo costa

In [25]:
print (nombre, apellidos)

Ana Trujillo Costa

In [26]:
print (nombre.capitalize(), apellidos.lower())

Ana trujillo costa

Escribid un programa usando la funci√≥n input() que:
- Le pregunte al usuario por una frase, almacenad este resultado en una variable.
- Le pregunte al usuario por una vocal, almacenad este resultado en una variable.
- Printead la misma frase pero con la vocal introducida en may√∫sulas.

In [27]:
frase= input("Dime una frase")

In [28]:
print (frase)

Hola familia

In [29]:
vocal= input("Dime una vocal")
print (vocal)

a

In [30]:
print(frase.replace("a", "A"))

HolA fAmiliA

Escribid un programa usando la funci√≥n input() que:
- Le pregunte al usuario por la lista de la compra, separando cada elemento por comas.
- Devolved la lista de compra donde veamos cada elemento en una l√≠nea.
üí°Pista
    - Para indicar salto de l√≠nea usaremos "\n".
    - Deber√©is usar el m√©todo join de los strings

In [31]:
compra = input ("Dime la lista de la compra")

In [33]:
print(",".join(compra))

 ,c,a,r,n,e, ,p,e,s,c,a,d,o, ,l,e,c,h,e, ,c,o,l

In [3]:
compra= input("Dime la lista de la compra")
compra_separada= compra.split(", ")
print (compra_separada)
print(type(compra_separada))

['peras', 'manzanas', 'naranjas']
<class 'list'>

In [4]:
string_compra_separada= "\n". join(compra_separada)
print(string_compra_separada)

peras
manzanas
naranjas